<!DOCTYPE html>
<html>
  <head>
    <title>Lookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>

    <script>
      window.fblogo="<%= image_url("fb-logo.png") %>"
    </script>

    <% if current_user %>
      <script type="text/javascript" >
        window.currentUser = {
          "id": <%= current_user.id %>,
          "email": "<%= current_user.email %>"
        };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

