<!DOCTYPE html>
<html>
  <head>
    <title>Lookbook</title>
    <meta property="og:title" content="Lookbook" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://lookbook-aa.herokuapp.com/" />
    <meta property="og:image" content="<%= image_url('light_dark_mode.gif') %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>

    <script>
      window.fblogo="<%= image_url("fb-logo.png") %>"
    </script>

    <% if current_user %>
      <script type="text/javascript" >
        window.currentUser = {
          "id": <%= current_user.id %>,
          "email": "<%= current_user.email %>",
          "fname": "<%= current_user.fname %>",
          "lname": "<%= current_user.lname %>",
          "birthday": "<%= current_user.birthday %>",
          "gender": "<%= current_user.gender %>",
          "bio": "<%= current_user.bio %>",
          "currentCity": "<%= current_user.current_city %>",
          "workplace": "<%= current_user.workplace %>",
          "school": "<%= current_user.school %>",
          "hometown": "<%= current_user.hometown %>",
          "relationshipStatus": "<%= current_user.relationship_status %>"
        };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

