<!DOCTYPE html>
<html>
  <head>
    <title>Lookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>

    <script>
      window.fblogo="<%= image_url("fb-logo.png") %>"
      window.defaultpfp="<%= image_url("default_pfp.png") %>"
      window.me="<%= image_url("me.png") %>"
      window.cat1="<%= image_url("cat1.JPG") %>"
      window.cat2="<%= image_url("cat2.JPG") %>"
      window.cat3="<%= image_url("cat3.jpeg") %>"
      window.cat4="<%= image_url("cat4.JPG") %>"
      window.cat5="<%= image_url("cat5.jpeg") %>"
      window.cat6="<%= image_url("cat6.jpeg") %>"
      window.cat7="<%= image_url("cat7.jpeg") %>"
      window.cat8="<%= image_url("cat8.jpeg") %>"
      window.cv="<%= image_url("cv.jpg") %>"
    </script>

    <% if current_user %>
      <script type="text/javascript" >
        window.currentUser = {
          "id": <%= current_user.id %>,
          "email": "<%= current_user.email %>",
          "fname": "<%= current_user.fname %>",
          "lname": "<%= current_user.lname %>",
          "birthday": "<%= current_user.birthday %>",
          "gender": "<%= current_user.gender %>",
          "bio": "<%= current_user.bio %>",
          "currentCity": "<%= current_user.current_city %>",
          "workplace": "<%= current_user.workplace %>",
          "school": "<%= current_user.school %>",
          "hometown": "<%= current_user.hometown %>",
          "relationshipStatus": "<%= current_user.relationship_status %>"
        };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

